<p style="font-size:30px">Python for Neuroscience. A study group</p>

## Disclaimers

* I am not working as a part of any institution 
* I am not a Neuroscientist (*yet:)*), but rather a Data Scientist

## Variables and types

In [10]:
x = 5
print(x)
print(type(x))

5
<class 'int'>

In [11]:
y = 10.5
print(y)
print(type(y))

10.5
<class 'float'>

In [14]:
z = x * 5 + 10 - (4 * 7)
print(z)

7

In [28]:
my_string = "Hello"
my_string = 5
print(my_string)
print(type(my_string))

5
<class 'int'>

In [30]:
%who

my_sting	 my_string	 x	 y	 z

## Hello students!

<b> hi </b>

## Numeric types operations:

| Operation | Note |
|:-:|:-:|
| x + y | sum of x and y |
| x - y | difference of x and y |
| x * y | product of x and y |
| x / y | quotient of x and y |
| x // y | floored quotient of x and y |
| x % y | remainder of x / y |
| -x | x negated |
| +x | x unchanged |
| abs(x) | absolute value or magnitude of x |
| pow(x, y) | x to the power y |
| x ** y | x to the power y |

In [34]:
10 // 2

5

In [36]:
10 % 2 # even number
10 % 3 # odd number

1

In [38]:
abs(5)

5

In [39]:
# this is not a power
2^10

8

In [40]:
2 ** 10

1024

In [41]:
pow(2, 10)

1024

In [42]:
print(" as' ")

 as'

In [44]:
print(" as" ")

SyntaxError: EOL while scanning string literal (<ipython-input-44-c240ef2e182e>, line 1)

In [45]:
x = True
print(x)
print(type(x))

True
<class 'bool'>

In [47]:
int(True), int(False)

(1, 0)

In [52]:
bool("Halle"), bool(0)

(True, False)

## Strings

In [54]:
my_str = "Hello"
my_str * 3

'HelloHelloHello'

In [60]:
my_str + str(3)

'Hello3'

In [64]:
int("slslsls")

ValueError: invalid literal for int() with base 10: 'slslsls'

In [59]:
print("Hello" + " students!")
type("Hello" + " students!")

Hello students!

str

In [65]:
my_str = "Hello, students. How are you?"

[start:end:step]

* start is included
* end is NOT included
* step is 1 by default

In [68]:
my_str[10]

'd'

In [69]:
my_str[5:]

', students. How are you?'

In [70]:
my_str[:7]

'Hello, '

In [71]:
my_str[::2]

'Hlo tdns o r o?'

In [72]:
my_str[1:10:2]

'el,su'

In [73]:
print(my_str)

Hello, students. How are you?

In [76]:
x = 'Hello' in my_str
print(x)
print(type(x))

True
<class 'bool'>

In [77]:
"Ruslan" in my_str

False

## funtions vs methods

In [78]:
my_str.upper()

'HELLO, STUDENTS. HOW ARE YOU?'

In [80]:
my_str.lower()

'hello, students. how are you?'

In [84]:
my_str

'Hello, students. How are you?'

In [85]:
'hello' == 'Hello'

False

In [126]:
my_str

'Hello, students. How are you?'

In [128]:
my_str[::-2]

'?o r o sndt olH'

In [86]:
my_str.count('Hello')

1

In [88]:
my_str.find('students')

7

In [90]:
my_str.find('i')

-1

In [93]:
my_str.replace('students', 'neuroscientists')

'Hello, neuroscientists. How are you?'

In [96]:
my_str.upper()

In [98]:
DNA_string = "AGCTTTTCATTCTGACTGCAACGGGCAATATGTCTCTGTGTGGATTAAAAAAAGAGTGTCTGATAGCAGC"
A_count = DNA_string.count("A")
print(A_count)

20

In [100]:
G_c = DNA_string.count('G')
G_c

17

In [102]:
DNA_string = "GATGGAACTTGACTACGTAAATT"
RNA_string = DNA_string.replace('T', "U")
RNA_string

'GAUGGAACUUGACUACGUAAAUU'

In [103]:
my_str

'Hello, students. How are you?'

In [109]:
len(my_str)

29

In [106]:
"A,B,C,D".split(',')

['A', 'B', 'C', 'D']

In [105]:
my_list = my_str.split(",")
print(my_list)
print(type(my_list))

['Hello', ' students. How are you?']
<class 'list'>

## Collections

### Lists

In [1]:
my_list = [1, 2, 3, 4]
print(type(my_list))

<class 'list'>

In [3]:
my_list[0:2]

[1, 2]

In [108]:
len(my_list)

4

In [110]:
my_list + 5

TypeError: can only concatenate list (not "int") to list

In [111]:
my_list + [5]

[1, 2, 3, 4, 5]

In [114]:
my_list * 2

[1, 2, 3, 4, 1, 2, 3, 4]

In [137]:
my_list = list(range(0,100))
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [135]:
del my_list

In [136]:
print(my_list)

NameError: name 'my_list' is not defined

In [139]:
min(my_list), max(my_list)

(0, 99)

In [140]:
sum(my_list)

4950

In [145]:
my_l = ['a', 'A', 'b', 'Y'] # ABC...Z...abc...z
min(my_l), max(my_l)

('A', 'b')

In [146]:
sum(my_l)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [148]:
color_list = ["Red","Green","White" ,"Black"]
color_list[0]

'Red'

In [149]:
color_list[-1]

'Black'

In [14]:
# create a list
simpsons = ['homer', 'marge', 'bart']
# examine a list
print(simpsons[0]) # print element 0 ('homer')
print(len(simpsons)) # returns the length (3)

homer
3

In [15]:
simpsons.append('lisa') # simpsons = simpsons + ['lisa']
simpsons

['homer', 'marge', 'bart', 'lisa']

In [7]:
# # don't do this!!!
# simpsons = simpsons.append('lisa')
# type(simpsons)

AttributeError: 'NoneType' object has no attribute 'append'

In [10]:
# simpsons.append(['itchy', 'scratchy'])

['homer', 'marge', 'bart', 'lisa', ['itchy', 'scratchy']]

In [13]:
simpsons[4][1]

'scratchy'

In [16]:
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [17]:
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [18]:
del simpsons[2]
simpsons

['maggie', 'homer', 'bart', 'lisa', 'itchy', 'scratchy']

In [20]:
help(simpsons.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [19]:
simpsons.remove('bart')
simpsons
# shift + tab

['maggie', 'homer', 'lisa', 'itchy', 'scratchy']

In [23]:
simpsons.index('homer')

1

In [ ]:
# modify a list (does not return the list)
simpsons.append('lisa') # append element to end
simpsons.extend(['itchy', 'scratchy']) # append multiple elements to end
simpsons.insert(0, 'maggie') # insert element at index 0 (shifts everything to the right)
simpsons.remove('bart') # searches for first instance and removes it
simpsons.pop(0) # removes element 0 and returns it
del simpsons[0] # removes element 0 (does not return it)
simpsons[0] = 'krusty' # replace element 0
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned','rod','todd']
# find elements in a list
simpsons.count('lisa') # counts the number of instances
simpsons.index('itchy') # returns index of first instance

In [25]:
simpsons

['maggie', 'homer', 'lisa', 'itchy', 'scratchy']

In [26]:
simpsons[0] = 'ruslan'
simpsons

['ruslan', 'homer', 'lisa', 'itchy', 'scratchy']

### Tuples

In [24]:
my_tuple = (1, 2, 3)
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [28]:
my_tuple[0] = 5

TypeError: 'tuple' object does not support item assignment

In [31]:
my_list = ['a', 'b', 'c', 'd']
my_t = tuple(my_list)
list(my_t)

['a', 'b', 'c', 'd']

### Sets

In [35]:
{1,1,2,2,3,4,5,6,6}

{1, 2, 3, 4, 5, 6}

In [33]:
my_set = {'a', 1, True, 'He'}
my_set

{1, 'He', 'a'}

In [36]:
# create a set
languages = {'python', 'r', 'java'} # create a set directly
snakes = set(['cobra', 'viper', 'python']) # create a set from a list

In [37]:
languages & snakes # intersection, AND

{'python'}

In [38]:
languages | snakes # union , OR

{'cobra', 'java', 'python', 'r', 'viper'}

In [39]:
languages - snakes

{'java', 'r'}

In [40]:
snakes - languages

{'cobra', 'viper'}

In [42]:
my_list = [1,2,3,4,1,1,2,3,4,5]
my_unique_list = list(set(my_list))
my_unique_list

[1, 2, 3, 4, 5]

### Dictionaries

{`key1:value1`, `key2:value2`}

In [44]:
my_dict = {'name': 'ruslan', 'age': 27, 'occupation': 'ds'}
my_dict

{'name': 'ruslan', 'age': 27, 'occupation': 'ds'}

In [47]:
my_dict['age']

27

In [52]:
my_dict = {'name': 'ruslan', 'age': 27, 'occupation': 'ds',
           0: [1,2,3], 5.5: {1: 'Hello'}}

In [55]:
my_dict[5.5][1]

'Hello'

In [56]:
my_dict.keys()

dict_keys(['name', 'age', 'occupation', 0, 5.5])

In [57]:
my_dict.values()

dict_values(['ruslan', 27, 'ds', [1, 2, 3], {1: 'Hello'}])

In [58]:
my_dict.items()

dict_items([('name', 'ruslan'), ('age', 27), ('occupation', 'ds'), (0, [1, 2, 3]), (5.5, {1: 'Hello'})])

In [59]:
my_dict.update({'hobby': 'neuro', 1: 45, 'a': 'b'})
# my_dict = my_dict.update({'hobby': 'neuro'})

In [61]:
my_dict.pop('name')
# name = my_dict.pop('name') # name wuld be 'ruslan'

'ruslan'

In [63]:
del my_dict['age']

In [65]:
my_dict

{'occupation': 'ds', 0: [1, 2, 3], 5.5: {1: 'Hello'}, 'hobby': 'neuro'}

In [67]:
my_dict['name'] = 'ruslan'
my_dict

{'occupation': 'ds',
 0: [1, 2, 3],
 5.5: {1: 'Hello'},
 'hobby': 'neuro',
 'name': 'ruslan'}

In [69]:
{name: 'ruslan', age:27}

NameError: name 'name' is not defined

In [73]:
dict(name='ruslan', age=27)

{'name': 'ruslan', 'age': 27}

## Conditions and `if`

In [74]:
5 < 4

False

In [75]:
5 > 4

True

In [76]:
5 >= 4 # great or equal to

True

In [77]:
'a' == 'b' #is equal

False

In [78]:
'a' != 'b' # is not equal to

True

```
if some condition is True:
    then do something    
else:
    do something else
```

In [83]:
x = 10
y = 5

if x < y:
    print('hello')
    print('bye')
    print('x is less than y')
else:
    print('x if not lestt than y')

x if not lestt than y

In [84]:
if x == y:
    print('A')
elif x < y:
    print('B')
else:
    print('C')

C

In [87]:
if x == y:
    print('A')
elif x < y:
    print('B')
elif x == 5:
    pass
elif y == 1:
    pass

## Loops

### `while`

https://www.reddit.com/r/ProgrammerHumor/comments/dhhexm/when_you_forget_the_exit_condition_in_a_while/

```
while something is True:
    do something
```

In [89]:
x = 1

while x < 5:
    print(x)
    x = x + 1 # x += 1
else:
    print('x is not less than 5')

1
2
3
4
x is not less than 5

In [92]:
# x = 1

# while x < 10:
#     print(x+1)

### `for`

In [94]:
my_list = [1, 2, 3, 4]

for e in my_list:
    print(e)
#     print(e+1)

1
2
3
4

In [95]:
my_string = "Hello, students"

for letter in my_string:
    print(letter.upper())

H
E
L
L
O
,

S
T
U
D
E
N
T
S

In [96]:
for i in 5:
    print(i)

TypeError: 'int' object is not iterable

In [98]:
5[0]

TypeError: 'int' object is not subscriptable

### `break` and `continue`

In [102]:
x = 0
while x < 10:
    x += 1
    print(x)
    
    if x == 5:
        print('X equals 5. Exiting the loop')
        break
        
print('new piece of code')

1
2
3
4
5
X equals 5. Exiting the loop
new piece of code

In [106]:
x = 0
while x < 10:
    x += 1
    
    if x == 5:
        print('X equals 5. Exiting the iteration')
        continue
    
    print(x)

1
2
3
4
X equals 5. Exiting the iteration
6
7
8
9
10

In [109]:
my_str = ['a', 'b', 'c', 'd']

for l in my_str:
    if l == 'a':
        continue
    else:
        print(l.upper())

B
C
D

In [110]:
for l in my_str:
    if l == 'a':
        break
    else:
        print(l.upper())

### List comprehensions