## List comprehensions

Process which affects whole lists without iterating through loops.

In [5]:
my_list = [1, 2, 3, 4, 5]
new_list = [] # [1, 4, 9, 16, 25]

for el in my_list:
    new_list.append(el**2)
    
print(new_list)

[1, 4, 9, 16, 25]

In [6]:
new_list_2 = [el**2 for el in my_list] # list comprehension

print(new_list_2)

[1, 4, 9, 16, 25]

In [9]:
el = 1
new_list = [el**2 while el < 5]

SyntaxError: invalid syntax (<ipython-input-9-fa6fc3cfc377>, line 2)

## Functions

In [11]:
len(my_list)

5

In [12]:
sum(my_list)

15

A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function. A function can return object as a result.

General form:

```python
def my_new_function(some_argument1, some_argument2):
    do something 
    return something
```

In [13]:
def print_hello():
    print('Hello')

In [14]:
print_hello()

Hello

In [15]:
def print_hello(name):
    print(f'Hello, {name}')

In [23]:
name = "adssd"
name2 = 'asds333ad'
print(f'Hello, {name} and {name2}') # f-string 3.6+

Hello, adssd and asds333ad

In [21]:
"Hello, {}".format('ruslan') # old-school

'Hello, ruslan'

In [32]:
"Hello, %s, %s" %(name,name2) # old-school

'Hello, adssd, asds333ad'

In [43]:
x = 45.34324234232

print(f'my salary = {x: .2f}')

my salary =  45.34

In [44]:
def print_hello(name):
    print(f'Hello, {name}')

In [46]:
def print_hello(name1, name2='Bob'): # correct way
    print(f'Hello, {name1} and {name2}')

In [50]:
# def print_hello(name2='Bob', name1): # incorrect way
#     print(f'Hello, {name1} and {name2}')

SyntaxError: non-default argument follows default argument (<ipython-input-50-739761262e1a>, line 1)

In [48]:
print_hello(name1='ruslan')

Hello, ruslan and Bob

In [49]:
print_hello(name1='ruslan', name2='bill')

Hello, ruslan and bill

In [51]:
my_list

[1, 2, 3, 4, 5]

In [55]:
def get_avg(l):
    avg_value = sum(l) / len(l)
    return avg_value

In [56]:
x = get_avg(l=my_list)
print(x)

3.0

In [57]:
def get_avg(l):
    avg_value = sum(l) / len(l)
    return avg_value, avg_value**2, avg_value**3

In [60]:
x, y, z = get_avg(my_list) # get_avg(l=my_list)
print(x, y, z)

3.0 9.0 27.0

In [66]:
def print_hello(name1, name2, name3='bob'):
    print(f'Hello, {name1} and {name2} and {name3}')

In [63]:
print_hello(name1='bob', name2='bill', name3='jack')

Hello, bob and bill and jack

In [64]:
print_hello('bob', 'bill', 'jack')

Hello, bob and bill and jack

In [65]:
print_hello(name3='bob', name1='bill', name2='jack')

Hello, bill and jack and bob

In [68]:
def get_avg(l):
    avg_value = sum(l) / len(l)
#     return avg_value

In [70]:
x = get_avg(l=my_list)
type(x)

NoneType

In [71]:
def get_avg(l):
    return sum(l) / len(l)

In [73]:
get_avg(l=my_list)

3.0

In [ ]:
# Write a Python program to reverse a string.

In [76]:
my_s = "hello, students"
# new_s = 'stned , olleh'

In [87]:
def reverse_string(string):
    assert type(string) not in [int, float], "You cannot pass the number inside the function"
    # pseudo-code
    # if type(string) not in [int, float]:
        # run the function
    # if not:
        # error message
#     assert type(string) == str, "Check you input!"
    return string[::-1]

In [81]:
new_s = reverse_string(string=my_s)
new_s

'stneduts ,olleh'

In [88]:
reverse_string(string=5)

AssertionError: You cannot pass the number inside the function

In [ ]:
# Write a Python function that accepts a string 
# and calculate the number of upper case letters and lower case letters.

# Sample String : 'The quick Brow Fox'
# Expected Output :
# No. of Upper case characters : 3
# No. of Lower case Characters : 12

In [91]:
'a'.islower()

True

In [97]:
'The quick Brow Fox'.replace(' ', '')

'ThequickBrowFox'

In [100]:
my_str = 'The quick Brow Fox'

def calculate_case(string):
    """
    Documentation
    
    Input: 
        string: (str type object)
        
    Output:
        u: lower case letters count
        l: upper case letters count
    """
    
    assert type(string) == str, "You can pass only strings inside the funcion"
    
    u = 0 # upper case letters count
    l = 0 # lower case letters count
    
    for letter in string.replace(' ', ''):
        if letter.isupper():
            u += 1 # u = u + 1
        else:
            l += 1
            
    return u, l

In [ ]:
calculate_case()

In [96]:
u, l = calculate_case(my_str)
print(u, l)

3 12

In [99]:
"""hello
my 
name
fdsfs
"""

'hello\nmy \nname\nfdsfs\n'

In [102]:
2**3

8

In [103]:
pow(2, 3)

8

### Arbitrary Arguments (\*args, \*\*kwargs)

In [110]:
def get_sum(*args):
#     print(args)
#     print(type(args))
    
    return sum(list(args))

In [115]:
get_sum(1, 2, 5, 6, 6.7, 1, 11, 1, 15, 100)

148.7

In [116]:
def get_sum(**kwargs):
    print(kwargs)
    print(type(kwargs))

In [117]:
get_sum(a=1, b=5, det='ruslan')

{'a': 1, 'b': 5, 'det': 'ruslan'}
<class 'dict'>

In [139]:
def get_sum(**w):
    print(w)
    print(type(w))

In [141]:
get_sum(a=1, b=5, det='ruslan',lalal='lalal')

{'a': 1, 'b': 5, 'det': 'ruslan', 'lalal': 'lalal'}
<class 'dict'>

### Lambda functions

A lambda function is a small anonymous function. It can take any number of arguments, but can only have one expression.

```python
lambda arguments: expression
```

`map()` function is used to apply a function on all the elements of specified iterable and return map object. Python map object is an iterator, so we can iterate over its elements. We can also convert map object to sequence objects such as list, tuple etc. using their factory functions.

```python
map(function, iterable_object)
```

The `filter()` function constructs an iterator from elements of an iterable for which a function returns true. In simple words, the `filter()` function filters the given iterable with the help of a function that tests each element in the iterable to be true or not.

```python
filter(function, iterable_object)
```

In [119]:
new_list = [1, 2, 3, 4, 5]
# [1, 4, 9, 16, 25]

def get_sq(x):
    return x**2

In [121]:
type(map(get_sq, new_list))

map

In [124]:
list(map(get_sq, new_list))

[1, 4, 9, 16, 25]

In [126]:
# def get_sq(x):
#     return x**2, x**3, x**4

# lambda x: x**2, x**3, x**4 # WOULD NOT WORK!!

list(map(lambda x: x**2, new_list))

[1, 4, 9, 16, 25]

In [127]:
import pandas as pd

In [128]:
from gapminder import gapminder

In [129]:
gapminder.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [130]:
gapminder.shape

(1704, 6)

In [132]:
gapminder['country'].apply(lambda x: x.upper())

0       AFGHANISTAN
1       AFGHANISTAN
2       AFGHANISTAN
3       AFGHANISTAN
4       AFGHANISTAN
           ...
1699       ZIMBABWE
1700       ZIMBABWE
1701       ZIMBABWE
1702       ZIMBABWE
1703       ZIMBABWE
Name: country, Length: 1704, dtype: object

In [133]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8]
# [6, 7, 8]

list(filter(lambda x: x > 5, my_list))
# [False, False, F, F, F, T, T, T]

[6, 7, 8]

In [137]:
new_list

[1, 2, 3, 4, 5]

In [ ]:
def get_n(x):
    if x < 3:
        x**2
    else:
        x**3

In [138]:
list(map(lambda x: x**2 if x < 3 else x**3, new_list))

[1, 4, 27, 64, 125]

In [ ]:
# Write a Python function to check whether a string is a pangram or not.
# example "The quick brown fox jumps over the lazy dog"

In [154]:
list(set("The quick brown fox jumps over the lazy dog".replace(' ', '').lower()))

['i',
 'c',
 'l',
 'b',
 'j',
 'p',
 'z',
 'f',
 'u',
 'x',
 'h',
 'e',
 'g',
 'v',
 't',
 'n',
 'y',
 's',
 'w',
 'q',
 'o',
 'r',
 'k',
 'm',
 'd',
 'a']

In [157]:
def pangram_check(string):
    unique_count = list(set(string.replace(' ', '').lower()))
    
    if len(unique_count) == 26:
        return True
    else:
        return False

In [158]:
pangram_check(string="The quick brown fox jumps over the lazy dog")

True

In [159]:
pangram_check(string="ruslan")

False

## Classes

In [2]:
class Human:
    
    def __init__(self, name):
        self.name = name
        
    def say(self):
        print(f"Hello. My name is {self.name}")