## Text files

You can access text file in Python with the help of built-in `open()` function. `mode` options are:

* `r`: Opens the file in read-only mode. Starts reading from the beginning of the file and is the default mode for the open() function.
* `rb`: Opens the file as read-only in binary format and starts reading from the beginning of the file. While binary format can be used for different purposes, it is usually used when dealing with things like images, videos, etc.
* `r+`: Opens a file for reading and writing, placing the pointer at the beginning of the file.
* `w`: Opens in write-only mode. The pointer is placed at the beginning of the file and this will overwrite any existing file with the same name. It will create a new file if one with the same name doesn't exist.
* `wb`: Opens a write-only file in binary mode.
* `w+`: Opens a file for writing and reading.
* `wb+`: Opens a file for writing and reading in binary mode.
* `a`: Opens a file for appending new information to it. The pointer is placed at the end of the file. A new file is created if one with the same name doesn't exist.
* `ab`: Opens a file for appending in binary mode.
* `a+`: Opens a file for both appending and reading.
* `ab+`: Opens a file for both appending and reading in binary mode.

In [21]:
file = open(file='text_file.txt', mode='r')
file

In [13]:
type(file)

_io.TextIOWrapper

In [22]:
file.read()

'This\nIs\nPython\nlalala\n'

In [23]:
file.read()

''

In [42]:
file.seek(0)

0

In [39]:
file.read()

'amygdala\nprefrontal cortex'

In [43]:
file.readline()

'amygdala\n'

In [44]:
file.readline()

'prefrontal cortex'

In [17]:
file.closed

False

In [45]:
file.seek(0)

0

In [46]:
file.readlines()

['amygdala\n', 'prefrontal cortex']

In [47]:
file.close()

In [48]:
file.closed

True

In [49]:
file.read()

ValueError: I/O operation on closed file.

In [56]:
with open('text_file.txt', 'r') as f: # f = open('text_file.txt', 'r')
    my_file = f.readlines()

In [57]:
my_file

['amygdala\n', 'prefrontal cortex']

In [53]:
# f.closed

True

In [59]:
with open('text_file.txt', 'a') as f:
    f.write('\nlalalal')

In [62]:
with open('text_file.txt', 'a') as f:
    f.writelines(['abc', 'dge'])

In [6]:
import pickle

In [10]:
data = {'a': 5}

with open('a.pkl', 'wb') as f:
    pickle.dump(obj=data, file=f)

In [11]:
with open('a.pkl', 'rb') as f:
    pickle.load(a)

NameError: name 'a' is not defined

In [63]:
import pandas as pd

In [69]:
URL = "https://raw.githubusercontent.com/JackStat/6003Data/master/Titanic.txt"
df = pd.read_csv(filepath_or_buffer=URL, sep='\t')
df.head(n=5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [68]:
type(df)

pandas.core.frame.DataFrame

In [73]:
df.sample(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
567,568,0,3,"Palsson, Mrs. Nils (Alma Cornelia Berglund)",female,29.0,0,4,349909,21.0750,NaN,S
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,B58 B60,C
400,401,1,3,"Niskanen, Mr. Juha",male,39.0,0,0,STON/O 2. 3101289,7.9250,NaN,S
794,795,0,3,"Dantcheff, Mr. Ristiu",male,25.0,0,0,349203,7.8958,NaN,S

In [74]:
df['Age'].mean()

29.69911764705882

## .csv files

In [80]:
df = pd.read_csv('../../shiny_apps/islander_data.csv')
df.head()

,first_name,last_name,age,Happy_Sad_group,Dosage,Drug,Mem_Score_Before,Mem_Score_After,Diff
0,Bastian,Carrasco,25,H,1,A,63.5,61.2,-2.3
1,Evan,Carrasco,52,S,1,A,41.6,40.7,-0.9
2,Florencia,Carrasco,29,H,1,A,59.7,55.1,-4.6
3,Holly,Carrasco,50,S,1,A,51.7,51.2,-0.5
4,Justin,Carrasco,52,H,1,A,47.0,47.1,0.1

In [82]:
df[['Drug', 'Diff']].to_csv('sample.csv')

In [83]:
with open('a.pkl', 'wb') as f:
    pickle.dump(obj=df[['Drug', 'Diff']], file=f)

https://raw.githubusercontent.com/JackStat/6003Data/master/Titanic.txt

## matlab files

In [92]:
from scipy.io import loadmat

data = loadmat('c1p8.mat', squeeze_me=True)

In [93]:
data

{'__header__': b'MATLAB 5.0 MAT-file, Platform: LNX86, Created on: Thu Feb 15 15:13:45 2001',
 '__version__': '1.0',
 '__globals__': [],
 'rho': array([0, 0, 0, ..., 0, 0, 0], dtype=uint8),
 'stim': array([-111.94824219,  -81.80664062,   10.21972656, ...,    9.78515625,
          24.11132812,   50.25390625])}

In [94]:
data = loadmat('c1p8.mat', squeeze_me=False)
data

{'__header__': b'MATLAB 5.0 MAT-file, Platform: LNX86, Created on: Thu Feb 15 15:13:45 2001',
 '__version__': '1.0',
 '__globals__': [],
 'rho': array([[0],
        [0],
        [0],
        ...,
        [0],
        [0],
        [0]], dtype=uint8),
 'stim': array([[-111.94824219],
        [ -81.80664062],
        [  10.21972656],
        ...,
        [   9.78515625],
        [  24.11132812],
        [  50.25390625]])}

## json files

In [95]:
import requests
import json

In [100]:
response = requests.get(url='http://api.open-notify.org/astros.json')

In [104]:
people = response.json()
people

{'message': 'success',
 'people': [{'name': 'Sergey Ryzhikov', 'craft': 'ISS'},
  {'name': 'Kate Rubins', 'craft': 'ISS'},
  {'name': 'Sergey Kud-Sverchkov', 'craft': 'ISS'}],
 'number': 3}

In [105]:
type(people)

dict

In [108]:
people['people'][0]['name']

'Sergey Ryzhikov'

In [109]:
URL = 'http://open-notify.org/Open-Notify-API/People-In-Space/'
response = requests.get(url=URL)

response.text

'<!doctype html>\n<html lang="en-us">\n <head>\n  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">\n  <meta name="viewport" content="width=device-width, initial-scale=1.0">\n  <link href="/css/bootstrap.min.css" rel="stylesheet">\n  <link href=\'http://fonts.googleapis.com/css?family=Oswald:400,300\' rel=\'stylesheet\' type=\'text/css\'>\n  <link href="/css/style.css" rel="stylesheet">\n  <link href="/css/syntax.css" rel="stylesheet">\n  <title>Open Notify -- API Doc | People In Space Now</title>\n </head>\n<body>\n<div class="wrapper">\n <div id="header">\n <div class="container">\n  <h1><a href="/">Open Notify</a></h1>\n   <ul id="navigation" class="nav nav-tabs">\n    \n      <li >\n        <a href="/">Home</a>\n      </li>\n    \n      <li class="active">\n        <a href="/Open-Notify-API">API Docs</a>\n      </li>\n    \n      <li >\n        <a href="https://github.com/open-notify">Source Code</a>\n      </li>\n    \n      <li >\n        <a href="/about.html">About</a>\n      </li>\n     \n  </ul>\n </div>\n</div>\n<div id="content">\n <div class="container">\n  <div class="row">\n   <div class="span3">\n    <div class="well navwell">\n      <ul class="nav nav-list">\n      <li class="nav-header">API Docs</li>\n      \n        <li >\n          <a href="/Open-Notify-API">Examples</a>\n        </li>\n      \n        <li >\n          <a href="/Open-Notify-API/ISS-Location-Now">ISS Current Location</a>\n        </li>\n      \n        <li >\n          <a href="/Open-Notify-API/ISS-Pass-Times">ISS Pass Times</a>\n        </li>\n      \n        <li >\n          <a href="/Open-Notify-API/People-In-Space">People In Space</a>\n        </li>\n      \n    </ul>\n\n    </div>\n   </div>\n   <div class="span8">\n    <h1 id="how-many-people-are-in-space-right-now">How Many People Are In Space Right Now</h1>\n\n<p><a href="http://api.open-notify.org/astros.json">http://api.open-notify.org/astros.json</a></p>\n\n<p>How many humans are in space <em>right now</em>?</p>\n\n<h2 id="overview">Overview</h2>\n\n<p>This API returns the current number of people in space. When known it also\nreturns the names and spacecraft those people are on. This API takes no inputs.</p>\n\n<h2 id="output">Output</h2>\n\n<h3 id="json">JSON</h3>\n\n<p><a href="http://api.open-notify.org/astros.json">http://api.open-notify.org/astros.json</a></p>\n\n<figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="p">{</span>\n  <span class="s2">"message"</span><span class="err">:</span> <span class="s2">"success"</span><span class="p">,</span>\n  <span class="s2">"number"</span><span class="err">:</span> <span class="nx">NUMBER_OF_PEOPLE_IN_SPACE</span><span class="p">,</span>\n  <span class="s2">"people"</span><span class="err">:</span> <span class="p">[</span>\n    <span class="p">{</span><span class="s2">"name"</span><span class="p">:</span> <span class="nx">NAME</span><span class="p">,</span> <span class="s2">"craft"</span><span class="p">:</span> <span class="nx">SPACECRAFT_NAME</span><span class="p">},</span>\n    <span class="p">...</span>\n  <span class="p">]</span>\n<span class="p">}</span></code></pre></figure>\n\n<h3 id="jsonp">JSONP</h3>\n\n<p>Appending a callback request to the query string will return JSONP:</p>\n\n<p><a href="http://api.open-notify.org/astros.json?callback=CALLBACK">http://api.open-notify.org/astros.json?callback=CALLBACK</a></p>\n\n<figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">CALLBACK</span><span class="p">({</span>\n  <span class="s2">"message"</span><span class="p">:</span> <span class="s2">"success"</span><span class="p">,</span>\n  <span class="s2">"number"</span><span class="p">:</span> <span class="o">%</span><span class="nx">NUMBER_OF_PEOPLE_IN_SPACE</span><span class="o">%</span><span class="p">,</span>\n  <span class="s2">"people"</span><span class="p">:</span> <span class="p">[</span>\n    <span class="p">{</span><span class="s2">"name"</span><span class="p">:</span> <span class="o">%</span><span class="nx">NAME</span><span class="o">%</span><span class="p">,</span> <span class="s2">"craft"</span><span class="p">:</span> <span class="o">%</span><span class="nx">SPACECRAFT_NAME</span><span class="o">%</span><span class="p">},</span>\n    <span class="p">...</span>\n  <span class="p">]</span>\n<span class="p">})</span></code></pre></figure>\n\n<h2 id="examples">Examples</h2>\n\n<p>Here is an example using jquery:</p>\n\n<figure class="highlight"><pre><code class="language-javascript" data-lang="javascript"><span class="nx">$</span><span class="p">.</span><span class="nx">getJSON</span><span class="p">(</span><span class="s1">\'http://api.open-notify.org/astros.json\'</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span> <span class="p">{</span>\n  <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">data</span><span class="p">[</span><span class="s1">\'number\'</span><span class="p">])</span>\n<span class="p">});</span></code></pre></figure>\n\n<p>This should log the number of people in space to the console.</p>\n\n<h2 id="data-source">Data Source</h2>\n\n<p>I gather and update this data personally as launches and landing occur.\nThere is no official source of data for this kind of thing.</p>\n\n   </div>\n  </div>\n </div>\n</div>\n\n</div>\n <div id="footer">\n  <div class="container">\n    <p class="pull-right"><a href="#">Back to top</a></p>\n    <p>Like what I\'m doing? Consider donating with <iframe style="border: 0; margin-bottom: -7px; padding: 0;"\n        src="https://www.gittip.com/natronics/widget.html"\n        width="48pt" height="22pt"></iframe>\n    </p>\n    <p>\n     &nbsp;\n    </p>\n    <p class="license">\n    This site is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">\n     Creative Commons Attribution 3.0 Unported License.\n     <img alt="Creative Commons License" src="http://i.creativecommons.org/l/by/3.0/80x15.png">\n    </a>\n   </p>\n  </div>\n </div>\n <script type="text/javascript">\n\n  var _gaq = _gaq || [];\n  _gaq.push([\'_setAccount\', \'UA-24692957-1\']);\n  _gaq.push([\'_setDomainName\', \'open-notify.org\']);\n  _gaq.push([\'_setAllowLinker\', true]);\n  _gaq.push([\'_trackPageview\']);\n\n  (function() {\n    var ga = document.createElement(\'script\'); ga.type = \'text/javascript\'; ga.async = true;\n    ga.src = (\'https:\' == document.location.protocol ? \'https://ssl\' : \'http://www\') + \'.google-analytics.com/ga.js\';\n    var s = document.getElementsByTagName(\'script\')[0]; s.parentNode.insertBefore(ga, s);\n  })();\n\n </script>\n</body>\n</html>\n'

In [111]:
with open('sample.json', 'r') as f:
        json_file = json.load(f)

json_file

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?',
    'options': ['New York Bulls',
     'Los Angeles Kings',
     'Golden State Warriros',
     'Huston Rocket'],
    'answer': 'Huston Rocket'}},
  'maths': {'q1': {'question': '5 + 7 = ?',
    'options': ['10', '11', '12', '13'],
    'answer': '12'},
   'q2': {'question': '12 - 8 = ?',
    'options': ['1', '2', '3', '4'],
    'answer': '4'}}}}

In [ ]:
with open('sample_data/employee_data.json', 'w') as f:
        json.dump(data, f)

## Excel files

In [114]:
list_names = ['a' , 'b', 'c']
df = pd.read_excel('stroke_data.xlsx', names=list_names, sheet_name='Sheet2') # sheet_name=1
df.head()

     a             b      c
0   No      children  Rural
1  Yes       Private  Urban
2   No       Private  Urban
3  Yes       Private  Rural
4   No  Never_worked  Rural

In [115]:
df.to_excel('sample.xls')